In [1]:
import pandas as pd

In [2]:
columnsToDrop = ['CASE','SERIAL','REF', 'QUESTNNR', 'MODE', 'STARTED', 'TIME_SUM', 'MAILSENT', 'LASTDATA', 'FINISHED', 'Q_VIEWER', 'LASTPAGE', 'MAXPAGE', 'MISSING', 'MISSREL', 'TIME_RSI']
for i in range(1, 9):
    columnsToDrop.append('TIME00' + i.__str__())

In [3]:
susColumns = []
for i in range(1, 11):
    suffix = '0'
    if i == 10:
        suffix = ''
    susColumns.append('SU01_' + suffix + i.__str__())

In [4]:
df: pd.DataFrame = pd.read_excel('data/data_you-sum.xlsx')
df.drop([0], inplace=True)
df.drop(columns=columnsToDrop, inplace=True)
df.reset_index(drop=True)

,PC01_01,SU01_01,SU01_02,SU01_03,SU01_04,SU01_05,SU01_06,SU01_07,SU01_08,SU01_09,...,V302,V302_01,V302_02,V302_03,V302_04,V303,V303_01,V303_02,V303_03,V303_04
0,JONAS_DETERDING_TEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,2,1,1,1,1,2,1,1,1
1,N32NB,4,1,5,1,5,1,5,1,5,...,1,2,1,1,1,1,1,1,1,2
2,N72SB,1,2,5,1,3,NaN,5,1,5,...,1,2,1,1,1,1,1,1,1,2
3,R32MB,4,2,2,1,3,2,4,5,2,...,1,2,1,1,1,1,1,1,1,2
4,STSH01,4,4,4,NaN,3,4,5,5,3,...,1,2,1,1,1,1,1,1,1,2
5,N11MB,3,1,4,1,4,1,5,1,5,...,1,2,1,1,1,1,1,1,1,2
6,N83MB,4,3,4,1,4,1,5,1,5,...,1,2,1,1,1,1,1,1,1,2
7,Za06.99K,5,4,5,2,4,4,5,4,5,...,1,2,1,1,1,1,1,1,1,2
8,AhJkO923,4,2,4,2,4,1,4,2,4,...,1,2,1,1,1,1,1,1,1,2
9,N78NB,3,1,5,1,5,1,4,1,5,...,1,2,1,1,1,1,1,1,1,2
10,N50AG,3,2,4,1,3,2,5,1,4,...,1,2,1,1,1,1,1,1,1,2
11,N02MB,4,4,4,2,2,4,5,2,4,...,1,2,1,1,1,1,1,1,1,2
12,I59SG,4,4,5,1,4,3,2,4,3,...,1,2,1,1,1,1,1,1,1,2
13,N60DB,2,1,5,1,3,2,4,1,5,...,1,2,1,1,1,1,1,1,1,2
14,N97AG,1,2,5,1,2,4,5,1,4,...,1,2,1,1,1,1,1,1,1,2
15,N02AB,2,2,4,1,4,2,5,2,5,...,1,2,1,1,1,1,1,1,1,2
16,P19JB,3,2,4,2,4,2,4,2,4,...,1,2,1,1,1,1,1,1,1,2
17,S63MB,4,2,5,4,3,2,5,1,4,...,1,2,1,1,1,1,1,1,1,2
18,S14MB,3,2,4,1,3,2,4,2,3,...,1,2,1,1,1,1,1,1,1,2
19,G10OB,5,1,5,1,5,1,3,1,5,...,1,2,1,1,1,1,1,1,1,2

In [5]:
video_columns = []
for video_idx in range(1,4):
    for question_idx in range(1, 4):
        for subq_idx in range(1,5):
            video_columns.append(f"V{video_idx}0{question_idx}_0{subq_idx}")

In [6]:
# multiple choice questions, 1= not selected (NO), 2=selected (YES)
correct_answers = {
    'V101_01': 2,
    'V101_02': 1,
    'V101_03': 1,
    'V101_04': 2,

    'V102_01': 1,
    'V102_02': 1,
    'V102_03': 2,
    'V102_04': 1,

    'V103_01': 1,
    'V103_02': 2,
    'V103_03': 1,
    'V103_04': 1,


    'V201_01': 1,
    'V201_02': 2,
    'V201_03': 1,
    'V201_04': 1,

    'V202_01': 1,
    'V202_02': 1,
    'V202_03': 1,
    'V202_04': 2,

    'V203_01': 1,
    'V203_02': 2,
    'V203_03': 1,
    'V203_04': 1,


    'V301_01': 1,
    'V301_02': 1,
    'V301_03': 2,
    'V301_04': 1,

    'V302_01': 2,
    'V302_02': 1,
    'V302_03': 1,
    'V302_04': 1,

    'V303_01': 1,
    'V303_02': 1,
    'V303_03': 1,
    'V303_04': 2
}

In [7]:
def calc_perc_for_entry(df_entry):
    score = 0
    for column in video_columns:
        if df_entry[column] == correct_answers[column]:
            score = score + 1
    return score / len(video_columns)

In [8]:
df['perc'] = df.apply(lambda row: calc_perc_for_entry(row), axis=1)

In [9]:
df = df[df["perc"] >= 0.75]

In [10]:
df

,PC01_01,SU01_01,SU01_02,SU01_03,SU01_04,SU01_05,SU01_06,SU01_07,SU01_08,SU01_09,...,V302_01,V302_02,V302_03,V302_04,V303,V303_01,V303_02,V303_03,V303_04,perc
2,N32NB,4,1,5,1,5,1,5,1,5,...,2,1,1,1,1,1,1,1,2,1.000000
3,N72SB,1,2,5,1,3,NaN,5,1,5,...,2,1,1,1,1,1,1,1,2,1.000000
4,R32MB,4,2,2,1,3,2,4,5,2,...,2,1,1,1,1,1,1,1,2,1.000000
5,STSH01,4,4,4,NaN,3,4,5,5,3,...,2,1,1,1,1,1,1,1,2,0.944444
6,N11MB,3,1,4,1,4,1,5,1,5,...,2,1,1,1,1,1,1,1,2,1.000000
7,N83MB,4,3,4,1,4,1,5,1,5,...,2,1,1,1,1,1,1,1,2,1.000000
8,Za06.99K,5,4,5,2,4,4,5,4,5,...,2,1,1,1,1,1,1,1,2,0.972222
9,AhJkO923,4,2,4,2,4,1,4,2,4,...,2,1,1,1,1,1,1,1,2,0.972222
10,N78NB,3,1,5,1,5,1,4,1,5,...,2,1,1,1,1,1,1,1,2,1.000000
11,N50AG,3,2,4,1,3,2,5,1,4,...,2,1,1,1,1,1,1,1,2,0.972222
12,N02MB,4,4,4,2,2,4,5,2,4,...,2,1,1,1,1,1,1,1,2,1.000000
13,I59SG,4,4,5,1,4,3,2,4,3,...,2,1,1,1,1,1,1,1,2,1.000000
14,N60DB,2,1,5,1,3,2,4,1,5,...,2,1,1,1,1,1,1,1,2,1.000000
15,N97AG,1,2,5,1,2,4,5,1,4,...,2,1,1,1,1,1,1,1,2,0.888889
16,N02AB,2,2,4,1,4,2,5,2,5,...,2,1,1,1,1,1,1,1,2,1.000000
17,P19JB,3,2,4,2,4,2,4,2,4,...,2,1,1,1,1,1,1,1,2,1.000000
18,S63MB,4,2,5,4,3,2,5,1,4,...,2,1,1,1,1,1,1,1,2,1.000000
19,S14MB,3,2,4,1,3,2,4,2,3,...,2,1,1,1,1,1,1,1,2,1.000000
20,G10OB,5,1,5,1,5,1,3,1,5,...,2,1,1,1,1,1,1,1,2,1.000000

In [15]:
df['PC01_01']

2        N32NB
3        N72SB
4        R32MB
5       STSH01
6        N11MB
7        N83MB
8     Za06.99K
9     AhJkO923
10       N78NB
11       N50AG
12       N02MB
13       I59SG
14       N60DB
15       N97AG
16       N02AB
17       P19JB
18       S63MB
19       S14MB
20       G10OB
Name: PC01_01, dtype: object

In [11]:
sus_df = df.loc[:, susColumns]

In [12]:
sus_df_2 = sus_df.dropna()

In [13]:
len(sus_df_2)

17

In [14]:
sus_df_2.to_csv('data/preprocessed.csv', index=False, sep=';')